# Python
backend/venv/
*.pyc
__pycache__/

# Node
frontend/node_modules/
.next/
dist/

# Environment
*.sqlite3

# Editor directories and files
.vs/
.vscode/
*.swp
*.swo
*~
.DS_Store
.idea/
*.sublime-workspace
*.sublime-project
.cursorignore
